.animated-link {
   text-decoration: underline;
   
   &:link,
   &:visited {
      display: inline-block;
      transition: all 0.2s;
      padding: 0.1rem 0.3rem;
      margin: -0.1rem -0.3rem;
   }

   &:hover,
   &:active {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.3);
   }
}

.button {
   text-decoration: none;
   display: grid;
   grid-template-columns: 1fr max-content;
   align-items: center;
   width: 19rem;
   border-radius: var(--radius-xl);
   background-color: var(--color-white);
   overflow: hidden;
   box-shadow: var(--shadow-3);
   height: 3.4rem;
   text-align: center;
   
   svg {
      background-color: var(--color-black);
      fill: var(--color-white);
      width: 4rem;
      height: 100%;
      padding: 0.2rem 0.6rem;
   }
}