.section {
   display: grid;
   justify-items: center;
   row-gap: 3rem;
   padding: 6rem 0;
   
   &--primary {
      background-color: var(--color-primary);
   }
   
   @media only screen and (min-width: 700px) {
      padding: 10rem 0;
   }
}