.skill-item {
   display: grid;
   grid-template-columns: max-content 1fr;
   align-items: center;
   background-color: var(--color-grey-light);
   box-shadow: var(--shadow-2);
   border-radius: var(--radius-xs);
   text-align: center;
}

.logo {
   background-color: var(--color-secondary);
   height: 3rem;
   width: 3rem;
   padding: 0.4rem;
}