.line-wrapper {
   position: absolute;
   right: calc(50% - (var(--timeline-line-width) / 2));
   z-index: 1;
   top: calc(-1 * var(--timeline-line-overflow));
}

.line {
   height: calc(var(--timeline-item-overlap) + var(--timeline-item-gap));
   width: var(--timeline-line-width);
   border-radius: var(--radius-xs);
   background-color: var(--color-secondary);
   box-shadow: var(--shadow-1);
   position: relative;
   
   &:first-child, &:last-child {
     height: calc(var(--timeline-item-overlap) * 1.5  + var(--timeline-item-gap) + var(--timeline-line-overflow));
   }

   &:not(:first-child) {
      &:before {
         content: "";
         position: absolute;
         width: var(--timeline-line-width);
         background: inherit;
         height: 1rem;
         transform: translateY(-0.5rem);
      }
   }
}

.circle {
   background-color: var(--color-secondary);
   box-shadow: var(--shadow-1);

   &:before, &:after {
      content: "";
      height: var(--timeline-circle-size);
      width: var(--timeline-circle-size);
      position: absolute;
      top: calc(50% - (var(--timeline-circle-size) / 2));
      left: calc(50% - (var(--timeline-circle-size) / 2));
      background: inherit;
      border-radius: var(--radius-xl);
   }
   
   &:after {
      z-index: 1;
   }

   &:before {
      box-shadow: inherit;
      z-index: -1;
   }
}

.line {
   &:first-child .circle {
      &:before, &:after {
         top: calc(50% - (var(--timeline-circle-size) / 2) + (var(--timeline-item-overlap) / 4) + (var(--timeline-line-overflow) / 2));
      }
   } 
   &:last-child .circle {
      &:before, &:after {
         top: calc(50% - (var(--timeline-circle-size) / 2) - (var(--timeline-item-overlap) / 4) - (var(--timeline-line-overflow) / 2));
      }
   } 
}


