.card-wrapper {
   list-style: none;
}

.card {
   display: grid;
   width: 70vw;
   height: 48rem;
   perspective: 150rem;
   -moz-perspective: 150rem;
   position: relative;
   margin: 2rem;
   background-color: transparent;
   border: none;

   @media only screen and (min-width: 650px) {
      width: 55vw;
   }

   @media only screen and (min-width: 800px) {
      width: 28rem;
   }

   &:focus {
      outline: 1px solid var(--color-grey-light);
   }
   
   // ANIMATION PRESETS
   opacity: 0;
   transform: translateY(3rem);

   &--flip {
      .card--front {
         transform: rotateY(-180deg);
      }
      .card--back {
         transform: rotateY(0);
      }
   }
   
   &--visible {
      animation: fadeUp 0.6s ease-in forwards;
   }

   &--side {
      transition: all .8s ease;

      height: 48rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;
      box-shadow: var(--shadow-1);
      border-radius: var(--radius-sm);
      overflow: hidden;
   }
   
   &--front {
      display: grid;
      grid-template-rows: 20rem 1fr max-content;
      background-color: var(--color-secondary);

      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         -webkit-clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 0);
         clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 0);
      }

      span:last-child {
         text-align: end;
         padding: 1rem;
      }
   }

   &--back {
      transform: rotateY(180deg);

      display: grid;
      grid-template-rows: max-content 1fr max-content;
      background-color: var(--color-primary);
      padding: 2rem;
      justify-items: center;
   }
}

.details {
   display: grid;
   text-align: start;
   align-content: start;
   row-gap: 1rem;
   padding: 0 1.6rem 1rem;

   p {
      line-height: 1.4;
   }
}

.heading {
   text-align: start;
   margin-bottom: 2rem;
   width: 100%;
}

.stack-wrapper {
   width: 70%;
   display: grid;
   align-content: center;
   row-gap: 0.6rem;
}

.stack {
   display: grid;
   row-gap: 0.6rem;
   align-content: start;
   align-self: center;
   padding-bottom: 3rem;
}

.buttons {
   display: grid;
   row-gap: 0.8rem;
}

@keyframes fadeUp {
   0% {
      opacity: 0;
      transform: translateY(3rem);
   }
   40% {
      opacity: 0.6;
      transform: translateY(-1rem);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}