:root {
   --color-github: #000000;
   --color-gmail: #d44638;
   --color-linkedin: #2867b2;

   --color-grey: #37322E;
   --color-grey-light: #EBEBEB;

   --color-white: #ffffff;
   --color-black: #000000;

   --color-orange: #FFC331;

   --color-book: #A259FF;
   --color-course: #EA4335;
   --color-conference: #2BA977;
   --color-employment: #1F9CF0;
}