:root {
   --radius-xs: 2px;
   --radius-sm: 4px;
   --radius-md: 6px;
   --radius-lg: 12px;
   --radius-xl: 20px;

   --shadow-1: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   --shadow-2: -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
   --shadow-3: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   --shadow-4: 0 6px 4px 0 rgba(0, 0, 0, 0.35);
   --shadow-5: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

   --space-xs: 0.2rem;
   --space-sm: 0.4rem;
   --space-md: 0.6rem;
   --space-lg: 0.8rem;
   --space-xl: 1rem;
}