:root {
   --font-text: 'Roboto', sans-serif;
   --font-heading: 'Sen', sans-serif;

   --weight-thin: 300;
   --weight-rg: 400;
   --weight-bold: 700;

   --text-xs: 1.2rem;
   --text-sm: 1.6rem;
   --text-md: 1.8rem;
   --text-lg: 2rem;
   --text-xl: 2.8rem;
}