.space--xs {
   margin-bottom: var(--space-xs);
}

.space--sm {
   margin-bottom: var(--space-sm);
}

.space--md {
   margin-bottom: var(--space-md);
}

.space--lg {
   margin-bottom: var(--space-lg);
}

.space--xl {
   margin-bottom: var(--space-xl);
}