.text--xs {
   font-size: var(--text-xs);
}

.text--sm {
   font-size: var(--text-sm);
}

.text--md {
   font-size: var(--text-md);
}

.text--lg {
   font-size: var(--text-lg);
}

.text--xl {
   font-size: var(--text-xl);
}