.footer-wrapper {
   display: grid;
   
   @media only screen and (min-width: 1300px) {
      justify-content: center;
   }
}

.footer {
   display: grid;
   align-items: center;
   row-gap: 4rem;
   padding: 3rem 2rem 1.4rem;
   
   @media only screen and (min-width: 1300px) {
      width: 100rem;
   }

   & > span:last-child {
      justify-self: center;
      grid-column: 1 / -1;

      // ANIMATION PRESETS
      opacity: 0;
   }

   &--visible {
      .socials li {
         &:nth-child(3) {
            animation: firstSocialIn forwards 2s;
         }
         &:nth-child(2) {
            animation: secondSocialIn forwards 2s;
         }
         &:nth-child(1) {
            animation: thirdSocialIn forwards 2s;
         }
      }

      .credit, & > span:last-child {
         animation: fadeIn forwards 1s;
      }
   }
   
   
   @media only screen and (min-width: 600px) {
      grid-template-columns: max-content 1fr;
   }
}

.link {
   text-decoration-color: var(--color-text);

   &:link, &:visited {
      background-color: var(--color-secondary);
   }
}

.credit {
   display: grid;
   justify-items: center;

   // ANIMATION PRESETS
   opacity: 0;
   
   @media only screen and (min-width: 600px) {
      justify-items: end;
   }
}

.people {
   display: grid;
   grid-template-columns: repeat(3, max-content);
   column-gap: 0.4rem;

   span:not(:nth-child(2)) {
      padding-right: -0.3rem;
   }

}

.socials {
   justify-self: center;
   display: grid;
   grid-template-columns: repeat(3, max-content);
   column-gap: 0.6rem;
   padding-top: 0rem;
   list-style: none;

   // ANIMATION PRESETS
   li {
      opacity: 0;

      &:nth-child(3) {
         transform: translateX(-8.4rem);
      }
      &:nth-child(2) {
         transform: translateX(-4.2rem);
      }
   }
}

@keyframes fadeIn {
   to {
      opacity: 1;
   }
}


@keyframes firstSocialIn {
   0% {
      transform: translateX(-8.4rem);
      opacity: 0;
   }
   20% {
      transform: translateX(-8.4rem);
      opacity: 1;
   }
   40% {
      transform: translateX(-4.2rem);
      opacity: 1;
   }
   60% {
      transform: translateX(-4.2rem);
      opacity: 1;
   }
   80% {
      transform: translateX(0rem);
      opacity: 1;
   }
   100% {
      transform: translateX(0rem);
      opacity: 1;
   }
}

@keyframes secondSocialIn {
   0% {
      transform: translateX(-4.2rem);
      opacity: 0;
   }
   40% {
      transform: translateX(-4.2rem);
      opacity: 0;
   }
   60% {
      transform: translateX(-4.2rem);
      opacity: 1;
   }
   80% {
      transform: translateX(0rem);
      opacity: 1;
   }
   100% {
      transform: translateX(0rem);
      opacity: 1;
   }
}

@keyframes thirdSocialIn {
   0% {
      opacity: 0;
   }
   80% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
