@layer utilities {
   .dasharray-0 {
      stroke-dasharray: 355;
      stroke-dashoffset: 355;
      transition: stroke 0.3s;
   }
   .dasharray-1 {
      stroke-dasharray: 332.9;
      stroke-dashoffset: 332.9;
      transition: stroke 0.3s;
      animation-delay: 0.2s;
   }
   .dasharray-2 {
      stroke-dasharray: 345.6;
      stroke-dashoffset: 345.6;
      transition: stroke 0.3s;
      animation-delay: 0.4s;
   }
   .dasharray-3 {
      stroke-dasharray: 214.6;
      stroke-dashoffset: 214.6;
      transition: stroke 0.3s;
      animation-delay: 0.6s;
   }
   .dasharray-4 {
      stroke-dasharray: 283;
      stroke-dashoffset: 283;
      transition: stroke 0.3s;
      animation-delay: 0.8s;
   }
   .dasharray-5 {
      stroke-dasharray: 366.9;
      stroke-dashoffset: 366.9;
      transition: stroke 0.3s;
      animation-delay: 1s;
   }
   .dasharray-6 {
      stroke-dasharray: 366.9;
      stroke-dashoffset: 366.9;
      transition: stroke 0.3s;
      animation-delay: 1.2s;
   }
   .dasharray-7 {
      stroke-dasharray: 332.9;
      stroke-dashoffset: 332.9;
      transition: stroke 0.3s;
      animation-delay: 1.4s;
   }
   .dasharray-8 {
      stroke-dasharray: 347;
      stroke-dashoffset: 347;
      transition: stroke 0.3s;
      animation-delay: 1.6s;
   }
   .dasharray-9 {
      stroke-dasharray: 283;
      stroke-dashoffset: 283;
      transition: stroke 0.3s;
      animation-delay: 1.8s;
   }
}
