.banner {
   height: 97vh;
   display: grid;
   grid-template-rows: max-content 1fr max-content;
   grid-template-columns: 1fr;
   padding: 1rem 1rem 8rem;
   z-index: 2;
   background-color: var(--color-primary);
}

.socials {
   display: grid;
   grid-template-columns: repeat(3, min-content);
   column-gap: 0.6rem;
   list-style: none;
   margin: 0.4rem;
}

.social {
   svg {
      fill: var(--color-grey);
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: 0.2rem;
      border: 2px solid var(--color-grey);
   }
}

.text {
   align-self: center;
   justify-self: center;

   display: grid;
   justify-items: center;
   row-gap: 1.2rem;
}

.line,
.title {
   opacity: 0;
   transform: translateY(6px);
   animation: bannerFadeUp 0.7s ease forwards 3.3s;
}

.title {
   animation: bannerFadeUp 0.7s ease forwards 3.5s;
   font-size: 4.8vw;
   
   @media only screen and (min-width: 700px) {
      font-size: 2.6rem;
   }
   
   @media only screen and (min-width: 1000px) {
      font-size: 3rem;
   }
}

.line {
   height: 2px;
   width: 75%;
   background-color: var(--color-text);
}

.quote {
   justify-self: center;
   padding: 0 2rem;
   text-align: center;

   display: grid;
   row-gap: 0.6rem;

   opacity: 0;
   transform: translateY(6px);
   animation: bannerFadeUp 0.7s ease forwards 4s;

   max-width: 64rem;
}

.socials {
   li {
      opacity: 0;
      
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;

      &:nth-child(3) {
         transform: translateX(-8.4rem) scale(0);
         animation: bannerFirstSocialIn 2s forwards 4s;
      }
      &:nth-child(2) {
         transform: translateX(-4.2rem) scale(0);
         animation: bannerSecondSocialIn 2s forwards 4s;
      }
      &:nth-child(1) {
         transform: scale(0);
         animation: bannerThirdSocialIn 2s forwards 4s;
      }
   }
}

@keyframes bannerFadeUp {
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes bannerFirstSocialIn {
   0% {
      transform: translateX(-8.4rem) scale(0);
      opacity: 0;
   }
   20% {
      transform: translateX(-8.4rem) scale(1);
      opacity: 1;
   }
   40% {
      transform: translateX(-4.2rem) scale(1);
      opacity: 1;
   }
   60% {
      transform: translateX(-4.2rem) scale(1);
      opacity: 1;
   }
   80% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
   }
   100% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
   }
}

@keyframes bannerSecondSocialIn {
   0% {
      transform: translateX(-4.2rem) scale(0);
      opacity: 0;
   }
   40% {
      transform: translateX(-4.2rem) scale(0);
      opacity: 0;
   }
   60% {
      transform: translateX(-4.2rem) scale(1);
      opacity: 1;
   }
   80% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
   }
   100% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
   }
}

@keyframes bannerThirdSocialIn {
   0% {
      opacity: 0;
      transform: scale(0);
   }
   80% {
      opacity: 0;
      transform: scale(0);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}
