*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;

   font-family: var(--font-text);
   color: var(--color-text);
   font-weight: var(--weight-rg);
}

html {
   font-size: 62.5%;
   box-sizing: border-box;

   @media only screen and (min-width: 500px) {
      font-size: 70%;
   }

   @media only screen and (min-width: 700px) {
      font-size: 68.75%;
   }

   @media only screen and (min-width: 1000px) {
      font-size: 75%;
   }
}

.visually-hidden { 
   border: 0;
   padding: 0;
   margin: 0;
   position: absolute !important;
   height: 1px; 
   width: 1px;
   overflow: hidden;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
   clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
   clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
   white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}